.DS_Store
.idea
obj
*.pdb
*.dll
venv
*.swp
bin
.gradle
out
build
target
cdk.out
generated
war
node_modules
master-cdk-temp
fixed-public.key
fixed-private.key
aws-iot-sdk-browser-bundle-min.js
*.key
*.csr
*.pem
*.pyc
JunkTest.java
package-lock.json
*.iml
