@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("font/Roboto-Regular.eot");
    src: url("font/Roboto-Regular.eot?#iefix")
    format("embedded-opentype"), url("font/Roboto-Regular.woff2")
    format("woff2"), url("font/Roboto-Regular.woff")
    format("woff"), url("font/Roboto-Regular.ttf")
    format("truetype");
    font-weight: 400
}
#splashscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #2196f3 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
}

#splashscreen div {
    display: block;
    text-align: center;
    width: 100%;
}

#splashscreen img {
    width: 150px;
}

#splashscreen .progress {
    margin: 0px;
    position: absolute;
    bottom: 2px;
    height: 6px;
}

#splashscreen span.title {
    font-size: 2em;
    display: block;
}

#splashscreen span.descripton {
    font-weight: 200;
}

